:root{
    --blue:#2ada79;
    --dark:#0f0f11;
    --light-color:#9c8374;
    --border:1rem solid rgba(0,0,0,0.2);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: sans-serif;
    font-weight: lighter;
}

html{
    font-weight: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;   
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    padding: 1.2rem 7%;
}

.header .logo
{
    color: var(--dark);
    font-size: 2.5rem;
    margin-right: auto;
}