@import url("href=http://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    padding: 2% 6%;
}

.header {
    min-height: 20vh;
    width: 100%;
    position: relative;
   

}
nav{
	display:flex;
	padding:2% 6%;
	justify-content: space-between;
	align-items: center;
    height: 80px;
}
nav .logo {
    text-decoration: none;
    font-size: 50px;
    color: rgb(35, 97, 68);
    font-weight: bold;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #fff;

}

nav .fab{
    font-size: 42px;
    color: #42f477;;
}


.nav-links{   
    text-align: right;
   
    flex: 1;
}


.nav-links ul li{
   display:inline-block;
   list-style:none;
   padding:8px 12px;
   position: relative;
   text-transform: uppercase;
}
.nav-links ul li a{
   text-decoration: none;
   color: #26723d;
   font-size: 18px;
}
.nav-links ul li::after {
   content: '';
   width: 0%;
   height: 2px;
   background: #26723d;
   display: block;
   margin: auto;
   transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
nav .fa{
    display: none;
}

/*Responsive Navbar Start*/
@media(max-width :700px ){


    .text_box h2{

    font-size: 50px;
}
nav.logo{
    font-size:15px;
}
.text_box #headtext{
    font-size: 23px;
}
.text_box p{
    margin: 10px 40px;
    font-size: 15px;
}
.nav-links ul li{
    display :  block;
}
.nav-links{
    position:fixed;
    background:#5cbb96;
    height:100vh;
    width:200px;
    top:0;
    right:-200px;
    text-align:left;
    z-index:2;
    transition:1.2s;

}
nav .fa{
    display:block;
    color: #26723d;
    margin: 10px;
    font-size:22px;
    cursor:pointer;
}
.nav-links ul{
    padding : 30px;
    }
}
/* Responsive Navbar Section End.... */

/*contact page start*/
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background:rgba(0, 0, 0, 0.7) url(images/Contactnew.jpg);
    background-size: cover;
    background-blend-mode: darken;
    
}

.contact .content
{
    max-width: 800px;
    text-align: center;

}

.contact .content h2
{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(7, 145, 25);

} 

.contact .content p
{
    font-size: 25px;
    font-weight: 100%;
    color: rgb(255, 240, 240);
}

.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .Contact-Info
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .Contact-Info .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .Contact-Info .box .icon 
{
    min-width: 60px;
    height: 60px;
    background: rgb(223, 217, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .Contact-Info .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(14, 241, 25);
    flex-direction: column;
    font-weight: 300;
}

.container .Contact-Info .box .text p
{
    font-weight: 300;
    color: #fff;
}

.container .Contact-Info .box .text h3
{
    font-weight: 500;
    color: #00d45fbb;
    font-size: 24px;
}

 .ContactForm
{
    width: 40%;
    padding: 40px;
    background: #fff; 
    opacity: 0.7;
    font-size: 18px;

}

.ContactForm h2
{
    font-size: 30px;
    color: #00d45fbb;
    font-weight: 500;
}

.ContactForm .input-Box
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

 .ContactForm .input-Box input,
 .ContactForm .input-Box textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px; 
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(5, 1, 1);
    outline: none;
}

.ContactForm .input-Box span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px; 
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #000;
}

.ContactForm .input-Box input:focus ~ span,
.ContactForm .input-Box input:valid ~ span,
.ContactForm .input-Box textarea:focus ~ span,
.ContactForm .input-Box textarea:valid ~ span
{
    color: #1ee91e;
    font-size: 12px;
    transform: translateY(-20px);
}

.ContactForm .input-Box input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: 10px;
    font-size: 18px;
}

@media (max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }

    .container
    {
        flex-direction: column;
    }

    .container .Contact-Info
    {
        margin-bottom: 40px;
    }
    .container .Contact-Info,
    .ContactForm
    {
        width: 100%;
    }
}
  
/*Blog Page end*/


/* Footer Section Start */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 20px;
}
.footer a {
    text-decoration: none;
    color:#0e7536;
    font-weight: 600;
}
.footer a:hover {
    color: #032e0a;
}

.icons .fab {
    color: #188043c9;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.icons .fab:hover{
    color: #032e0a;
}
.fa-heart {
    color: #0e7536;
}

hr {
    border: 0.01px solid;
}
/* Footer Section end*/